name: Build and Test

on:
  workflow_call:
    inputs:
      java:
        required: false
        type: string
        default: 11
      archive-name:
        required: false
        type: string
        default: "${{ github.sha }}-${{ github.run_id }}"
      maven-flags:
        required: false
        type: string
        default: ''
      optional:
        required: false
        type: boolean
        default: false
      os:
        required: false
        type: string
        default: ubuntu-latest
      reuseBuild:
        required: false
        type: boolean
        default: false
      saveBuild:
        required: false
        type: boolean
        default: false
    secrets:
      DEVELOCITY_ACCESS_KEY:
        required: false
      GH_TOKEN:
        required: false

env:
  GITHUB_OAUTH: ${{ secrets.GH_TOKEN }}
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}

jobs:
  Build:
    runs-on: ${{ inputs.os }}
    continue-on-error: ${{ inputs.optional }}
    name: Build
    outputs:
      maven-cache-key: ${{ steps.maven-cache-key.outputs.key }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Generate cache key
        id: maven-cache-key
        run: |
          echo "key=cache-${{ github.run_number }}" >> $GITHUB_OUTPUT
        shell: bash

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.java }}
          distribution: temurin
          server-id: central
          cache: maven

      - name: Find maven
        id: maven
        shell: bash
        run: echo "maven=$( test -f mvnw  && echo "./mvnw" || echo mvn )" >> $GITHUB_OUTPUT

      - name: Build with Tests
        if: ${{ !inputs.saveBuild && !inputs.reuseBuild }}
        run: ${{ steps.maven.outputs.maven }} -e -U ${{ inputs.maven-flags }} install

      - name: Build without Tests
        if: inputs.saveBuild
        run: ${{ steps.maven.outputs.maven }} -e -U ${{ inputs.maven-flags }} install -DskipTests

      - name: Cache build artifacts
        if: inputs.saveBuild
        uses: actions/cache@v4
        with:
          path: |
            **/target
            ~/.m2/repository
          key: target-${{ steps.maven-cache-key.outputs.key }}
          restore-keys: target-${{ steps.maven-cache-key.outputs.key }}

      - name: Restore cached build artifacts
        if: inputs.reuseBuild
        uses: actions/cache@v4
        with:
          path: |
            **/target
            ~/.m2/repository
          key: target-${{ steps.maven-cache-key.outputs.key }}
          restore-keys: target-${{ steps.maven-cache-key.outputs.key }}
          fail-on-cache-miss: true

      - name: Test without building
        if: inputs.reuseBuild
        run: ${{ steps.maven.outputs.maven }} -e surefire:test ${{ inputs.maven-flags }}

      - name: collect logs
        uses: actions/upload-artifact@v4
        if: failure() && inputs.archive-name != ''
        with:
          name: "logs-${{ inputs.archive-name }}"
          path: |
            **/target/**/*.log
            **/target/**/*.err
          retention-days: 7
